<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <title>Dojo Survey Index</title>
</head>
<body>
    <div class="container-lg p-3 mt-3 bg-secondary text-white">
        <h1 class="text-center mb-4">Survey Form</h1>
        <form action='/result' method='post'>
            {% csrf_token %}
            <div class="form-group row">
                <label for="name_label" class="col-sm-2 col-form-label" name="full_name">Full Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name">
                </div>
            </div>
            <div class="form-group row">
                <label for="location_label" class="col-sm-2 col-form-label">Dojo Location:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="location" name="location">
                        <option>Arlington</option>
                        <option>Bellevue</option>
                        <option>Boise</option>
                        <option>Chicago</option>
                        <option>Dallas</option>
                        <option>Los Angeles</option>
                        <option>Oakland</option>
                        <option>Orange County</option>
                        <option>Sillicon Valley</option>
                        <option>Tulsa</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="stack_label" class="col-sm-2 col-form-label">Favorite:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="stack" name="stack">
                        <option>Python</option>
                        <option>CSS</option>
                        <option>HTML</option>
                        <option>Javascript</option>
                        <option>Java</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="student_label" class="col-sm-2 col-form-label">Current Student:</label>
                <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="student" id="current_student" value="Yes">
                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="student" id="new_student" value="No">
                        <label class="form-check-label" for="inlineRadio2">No</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Comment (option):</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name = "comment" rows="3"></textarea>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-danger mb-2" value="result">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>